.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: red;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  
  @media only screen and (max-width: 600px) {
    max-width: 90vw;
  }

  a {
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: purple;
    text-decoration: none;
    transition: color 0.3s linear;
    
    @media screen and (max-width: 600px) {
      font-size: 1.5rem;
      text-align: center;
    }

    &:hover {
      color: red;
    }
  }
}