* {
  box-sizing: border-box;
}

html {
  background-color: rgb(44,89,124);
  font-family: 'Halant', serif;
}

#footer {
  font-size: 50px;
}

.bio {
  color: red;
}

div.header {
  background-image: url('http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg');
  background-repeat: repeat;
}

#name {
}