.Home {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bolder;
  font-size: 1rem;
  padding: 10px;

  .bioContainer {
    background-color: rgba(255, 255, 255, 0.109);
    color: rgb(228, 226, 226);
    height: auto;
    padding: 1rem;

    @media only screen and (max-width: 600px) {
      border-radius: 15px;
    }
  }  

  .bio {
    text-align: justify;

    @media only screen and (max-width: 600px) {
      text-align: justify;
    }
  }

  .collapsible {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    width: 100%;
    border-radius: 15px;
    padding: 1rem 0;
    background-color: rgb(204,157,75);
    border: solid 2px rgb(72, 100, 122); 
    color: rgb(72, 100, 122);
    text-align: center;
  }

  .Collapsible__contentOuter {
    background: red;
  }

  .headshotContainer {
    @media only screen and (max-width: 600px) {
      display: flex;
      justify-content: center;
    }
  }

  .headshot {
    max-height: 60vh;
    float: right;
    padding-left: 1.2rem;

    @media only screen and (max-width: 600px) {
      max-height: 33vh;
      width: auto;
      float: none;
      padding-left: 0;
    }
  }

  .bottomContainer {
    width: 100%;
    height: auto;
  }

  .carouselContainer {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .carousel {
    width: 60vw;
  }

  .reviewContainer {
    display: flex;
    justify-content: space-evenly;
  }

  .review {
    border-radius: 15px;
    width: 30vw;
    height: auto;
    float: left;
    background-color: rgba(255, 255, 255, 0.109);
    color: rgb(228, 226, 226);
    height: auto;
    padding: 1rem;
    margin: 0.5rem;
    border: solid 2px rgb(204,157,75);

    @media only screen and (max-width: 600px) {
      float: none;
      width: 90vw;
      margin: 2vh 0;
    }
  }
}