.Home {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bolder;
  font-size: 1rem;
  padding: 10px;

  .bioContainer {
    background-color: rgba(255, 255, 255, 0.109);
    color: rgb(228, 226, 226);
    height: auto;
    padding: 1rem;
  }

  .bio {
    max-width: 66%;
    float: left;
  }

  .headshot {
    max-width: 33%;
    max-height: 75vh;
  }

  .bottomContainer {
    width: 100%;
    height: auto;
  }

  .carousel {
    width: 60vw;
  }

  .review {
    border-radius: 15px;
    width: 30vw;
    height: auto;
    float: left;
    background-color: rgba(255, 255, 255, 0.109);
    color: rgb(228, 226, 226);
    height: auto;
    padding: 1rem;
    border: solid 2px rgb(204,157,75);
  }
}