.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .contactCard {
    height: 10vh;
    width: 35vw;
    background-image: url('../../../public/marble.jpg');
    background-repeat: repeat;
  }
}