.Header {
  display: flex;
  background-image: url('../../../public/marble.jpg');
  background-repeat: repeat;
  width: 100%;
  padding: 10px;
  flex-direction: column;

  .banner {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .subhead {
    font-family: 'Laila', serif;
    font-size: 30px;
    color: rgb(44,89,124);
    text-align: center;
    width: 50%;
    float: left;
  }

  .subhead3 {
    font-family: 'Laila', serif;
    font-size: 30px;
    color: rgb(44,89,124);
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }

  #name {
    font-family: 'Pompiere', serif;
    font-size: 85px;
    color: rgb(44,89,124);
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
}
