.Header {
  display: flex;
  background-image: url('../../../public/marble.jpg');
  background-repeat: repeat;
  width: 100%;
  padding: 10px;
  flex-direction: column;

  .banner {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
}
