.PhotoCarousel {
  padding: 10px;
  margin-left: 20%;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .image {
    max-width: 90%;
    max-height: 50vh;
  }

  .button {
    display: none;
    visibility: hidden;
  }
}