.Footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-image: url('../../../public/marble.jpg');
  background-repeat: repeat;
  padding: 10px;

  .contact {
    margin: 0 25px;
    padding: 5px;
    display: flex;
    align-content: center;
  }
  
  span {
    padding: 5px;
  }

  img {
    height: 1.4rem;
    margin-right: 0.5rem;
  }

  a {
    color: black;
  }

  .contact:hover {
    color: rgb(72, 100, 122);
    background-color: rgb(204,157,75);
    border: solid 2px rgb(72, 100, 122);
    border-radius: 10px;
    padding: 3px 7px;
  }

  a:active {
    color: rgb(204,157,75);
    background-color: rgba(72, 100, 122, 0.514);
  }
}